<!doctype=html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<title>Hudvårdsquiz</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href = "/static/stylequiz.css" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


</head>
<body>

	

	<h1>DET EPISKA HUDVÅRDSTESTET</h1>
	<h2>Välkommen! Du är här nu!</h2> 

		
	<p> Här kan du testa dina kunskaper inom hudvård. Värna om kroppens största organ, det är du värd. Men kom ihåg, skönhet kommer inifrån!<i class="em em-massage"></i><i class="em em-snail"></i> </p>
	<ul>
		{% for quiz in quizzes %}
			<li><a href="http://127.0.0.1:8000/quiz/1/">{{ quiz.name }}</a></li>
		{% endfor %}

		
		<!-- <li><a href="quiz.html">Rengöring</a></li>
		<li><a href="quiz.html">Exfoliering</a></li>
		<li><a href="quiz.html">Återfuktning</a></li> -->
		
	</ul>
	<br>
	<img src="/static/skin_image.png" alt="Ansiktsmask" style="width: 550px">
	<br>
	<br>
	<footer>
	<p>Producerat av Sofie Nilsson</p>
	</footer>
</body>
